POSTGRES_USER=your_database_server
POSTGRES_PASSWORD=your_database_server_name
POSTGRES_DB_ORDERS=your_order_service_database
POSTGRES_DB_INVENTORY=your_inventory_service_database

EUREKA_PORT=8761
GATEWAY_PORT=8080
ORDER_PORT=8081
INVENTORY_PORT=8082
